<div class='text-center'> 

<h1>Welcome <%= @profile.first_name%>.</h1>

<% if @profile.photographer? %>
<%= "Which awesome pictures do you want to upload?" %>

<% end %>

<h3 class="padded">Here you can edit your profile picture and view current bookings/gigs. </h3>


<%= @profile.first_name %>
<%= @profile.last_name %>
<%= @profile.location %>
<end>