
<section class="no-padding" id="photoadd">
  <aside class="bg-dark">
    <div class="container text-center">

      <h1>Upload your photos</h1>
      <%= simple_form_for(@photo, url: profile_photos_path) do |f| %>
      <%= f.input :name, placeholder: 'Give your photo a cool name' %>

      <%= f.select :specialty, ['Wedding', 'Portraits', 'Panorama']%>

      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit %>
      <% end %>
      <br>
      <br>
      <a href="../../profile"  class="btn btn-primary btn-lg active" role="button">No I do not want to add photo's, I am lazy</a>
    </div>
  </aside>
</section>