
<section class="no-padding" id="photoadd">
  <aside class="bg-dark">
    <div class="container text-center">

      <h1>Upload your photos</h1>

      <%= simple_form_for(@photo, url: profile_photos_path) do |f| %>
      <%= f.input :name %>
      <%= f.input :specialty %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit %>
      <% end %>
      <%= link_to("No I dont want to add photo's, I am lazy", "../../profile" ) %>
      
      </div>
  </aside>
</section>