<section class="no-padding" id="photoadd">
  <aside class="bg-dark">
    <div class="container text-center">
      <h1>Book this photographer</h1>

      <%= simple_form_for([:photographer, @booking]) do |f| %>
      <%= f.input :date %>
      <%= f.input :message %>

      <%= f.submit %>
      <% end %>
      <br>
      <%= link_to "Back", ".."%>     
    </div>
  </aside>
</section>
